body, html {
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    padding: 0px;
    padding: 0px;
    background-image: url("./images/backpack.jfif");
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: none;
    padding: 25px 25px 0px 25px;

}

.display-2 {
font-size: 100px;
background-color: beige;
width: fit-content;
padding: 5px;
}

.lead {
    color: white;
    background-color: black;
    width: fit-content;
    padding: 5px;
}

.infoBox-1, .infoBox-2 {
    background-color: white;
    opacity: 50%;
    width: fit-content;
    padding: 10px;
    margin: 25px 25px 0px 25px;
}

footer {
    background-color: rgb(39, 38, 38);
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: center;
}

img {
    padding: 20px;
    width:300px;
    height:200px;
}