body, html {
    background-image: url("./images/backpack.jfif");
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.jumbotron {
    background: none;
    padding: 25px 25px 0px 25px;

}

.display-2 {
font-size: 100px;
background-color: beige;
width: fit-content;
padding: 5px;
}

.lead {
    color: white;
    background-color: black;
    width: fit-content;
    padding: 5px;
}

.infoBox-1, .infoBox-2 {
    background-color: white;
    opacity: 50%;
    width: fit-content;
    padding: 10px;
    margin: 25px;
}

footer {
    background-color: rgb(39, 38, 38);
    height: 15rem;
    padding: 0px;
    margin: 0px;

}
